:root {
  --color-white: #fff;

  --color-orange: #ff5a00;

  --color-yellow: #faf8f3;

  --color-green01: #053505;
  --color-green02: #05a59e;
  --color-green03: #06bfa6;
  --color-green04: #009a93;

  --color-blue01: #051261;
  --color-blue02: #301db7;
  --color-blue03: #086bf4;
  --color-blue04: #5755ff;

  --color-purple01: #9065b0;
  --color-purple02: #782efe;

  --color-gray01: #a5a5a5;
  --color-gray02: #666666;
  --color-gray03: #808080;
  --color-gray04: #a9a9a9;
  --color-gray05: #999999;
  --color-gray06: #edeceb;
  --color-gray07: #4e4e4e;
  --color-gray08: #282828;

  --color-black01: #333333;
  --color-black02: rgb(41, 38, 41);
}

/* inner */
.inner {
  max-width: 1200px;
  margin: 0 auto;
  width: calc(100% - 40px);
}
/* inner */

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  background-color: transparent;
  z-index: 1000;
}
header .header-inner {
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
header ul {
  display: flex;
  align-items: center;
}
header li {
  display: inline-block;
  font-family: "Montserrat";
  font-size: 1.125rem;
  font-weight: 400;
  margin-right: 50px;
}
header li:last-child {
  margin-right: 0;
}

.topBtn {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  z-index: 10;
}
.topBtn img {
  width: 23px;
  height: 23px;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-add {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.title {
  font-family: "Montserrat";
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--color-gray01);
}
.title span {
  font-family: "Montserrat";
  font-size: 1.125rem;
  font-weight: 600;
}

.add-link {
  display: inline-block;
  position: relative;
  font-family: "Pretendard";
  font-size: 1.125rem;
  line-height: 30px;
  font-weight: 400;
  color: var(--color-black01);
}
.add-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.05em;
  bottom: 0;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.add-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.add-link .icon-arrow {
  margin-left: 8px;
  width: 18px;
  height: 18px;
  background-image: url(../images/common/btn-add.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-back {
  display: none;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url(../images/common/arrow-mo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
